<toolbox monitor="true">
    <section id="interactivetools" name="Interactive Tools">
        <tool file="interactive/interactivetool_ttyd.xml" />
        <tool file="interactive/interactivetool_ethercalc.xml" />
	<tool file="interactive/interactivetool_askomics.xml" />
    </section>
</toolbox>